* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.app {
  width: 90%;
  margin: 20px auto;
}
.form-row {
  margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 10px;
}

.radio-row label {
    display: inline-block;
    background-color: #FFF;
    padding:10px 15px;
    border-radius: 30px;
    margin-right: 10px;
    transition: all 0.3s linear;
}

.radio-row label:hover {
    background-color: #58c79e;
    cursor: pointer;
}

.radio-row input:checked + label {
    background-color: #39626b;
    color: #fff;
}

.radio-row input[type="radio"] {
    display: none;
}


input[type="text"],
input[type="password"],
textarea,
select {
  padding: 20px 35px 20px 25px;
  border: none;  
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 4px;  
  background:#EFF0F4;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: 0px 7px 17px 0px rgba(0,0,0,0.2)
}

h3, h4, h2, h5{
  font-weight: 400;
  font-size: 1.5em;
}

.input__file__label {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input__file__label + label {
  font-size: 1em;
  font-weight: 400;
  color: #39626B;
  background-color: white;
  display: inline-block;
  padding: 10px 15px;
  border: 2px solid #39626B;
  width: 68%;
  text-align: center;
}

.input__file__label:focus + label,
.input__file__label + label:hover {
    background-color: #58c79e;
}

.input__file__label + label {
	cursor: pointer; /* "hand" cursor */
}

.imagePreview img {
  max-width: 80%;
  overflow: hidden;
}

.progressBar {
  height: 8px;  
  background: #39626B;
  width: 0;
  text-align: right;
  color: #FFF;
  transition: all 0.3s;
}

.bannerList,
.uploadForm__container {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.bannerList {
  max-height: 80vh;
  overflow-y: auto;
  padding-right: 30px;
}

.bannerArea {
  margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.bannerArea__images {
    padding: 10px 0;
    display: inline-block;
    margin-right: 10px;
}

.bannerArea__images img, 
.bannerArea__images p {
    text-align: center;
    vertical-align: middle;
}

.bannerArea__images p {
  margin-left: 20px;
  max-width: 60%;
}

.bannerArea__images a {
  color: #39626B;
  font-size: 0.9em;
  text-decoration: none;
}

button {  
  font-size: 1em;
  font-weight: 300;
  color: white;
  background-color: #39626B;
  display: inline-block;
  padding: 15px 25px;
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  font-family: 'Montserrat';
  letter-spacing: 2px;
}
  
  
button:hover {
    background-color: #58c79e;
    cursor: pointer;
}

.bt-excluir {
  background-color: transparent;
  color: #39626B;
  padding: 0;
  font-size: 0.8em;
  font-weight: 600;
  display: block;
  clear: both;
  
  margin-top: 10px;
}

/** spinner */
.divImgProgress {
    position: absolute;
    top: 25%;
    left: 70%;
    z-index: 1001;
}

.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite, colors 4.2s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite, colors 4.2s ease-in-out infinite;
}

@keyframes colors {
    0% {
        stroke: #004f4f;
    }

    50% {
        stroke: #353f51;
    }

    100% {
        stroke: #cba876;
    }

}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

.login-form {
    margin: 0 auto;
    width: 40%;
}

.recommendation input {
    margin-bottom: 10px;
}

.ql-container {
    height: 80% !important;
}